<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/w3.css}" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>


</head>
<body>

    <header class="w3-container w3-card">
        <h1 id = "location" th:text="${location}"></h1>
    </header>

    <div class="w3-container">
        <hr>
        <div class="w3-cell-row w3-hide w3-show" id="workspaces">

            <div class="" id="workspaces-links">

                <ul class="w3-ul">
                    <li th:each="workspace : ${workspaces}">
                        <button class="w3-button w3-light-gray w3-round-xxlarge"
                                th:text="${workspace.key}"
                                onclick="toggle(['workspaces','artifacts']);changeTitle('yggdrasil/workspaces/artifacts')"
                                th:hx-get="'/artifacts?workspaceURI=' + ${workspace.value}"
                                hx-trigger="click"
                                hx-target="#artifacts-links"
                                hx-swap="innerHTML"
                        ></button>
                    </li>

                </ul>
            </div>
        </div>

        <div class="w3-cell-row w3-hide" id="artifacts">

            <div class="" id="artifacts-links">
                <p>Links</p>
            </div>

            <div class="" id="artifacts-buttons">
                <p></p>
            </div>

        </div>

        <div class="w3-cell-row w3-hide" id="actions">

            <div class="" id="actions-links">
                <p></p>
            </div>

            <div class="" id="actions-buttons">
                <p></p>
            </div>

        </div>

        <div class="w3-cell-row" id="console">
            <div class="w3-margin">
                <div class="w3-border w3-border-black w3-padding" style="width: 100%; height: 200px">
                    <p>Demo: Information may be printed here.</p>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    function toggle(ids) {
        ids.forEach(function (id) {
            console.log(id);
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        });
    }

    function changeTitle(location) {
        var x = document.getElementById("location");
        x.innerText = location;
    }
</script>
</html>